.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #949494;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  height: 100%;
}

.container img {
  object-fit: contain;
  height: 800px;
}


.pres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.view {
  position: relative;
  top: -100px;
}

.view h1 {
  padding-top: 45px;
  font-weight: bold;
  color: #42424c;
}

.brand {
  padding-right: 50px;
}

.test {
  margin-right: 40px;
}

.video {
  top: 140px;
  position: relative;
  height: 600px;
  width: 40%;
}

.divider {
  width: 10%;
}

.descr {
  top: 100px;
  position: relative;
  height: 600px;
  width: 40%;
}

.bb::before, .bb::after, .bb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb::before, .bb::after, .bb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video iframe {
	border-radius: 30px 10px;
}

.video span {
  padding-top: 20px;
  font-size: 20px;
}

.formule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formule {
  width: calc(30% - 20px);
  margin: 50px;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #42424c;
}

.formule-content {
  margin-top: 20px;
  transition: opacity .6s linear;
  opacity: 0;
  color: #42424c;
}

.formule-title {
  position: relative;
  transition: all 1s ease-out;
  top: 100px;
}

.formule-title h1 {
  font-size: 35px;
  color: #217a37;
}

.formule:hover > .formule-title {
  transform: translateY(0px);
  top: 0px;
}

.formule:hover > .formule-content {
  transition: opacity 1s linear;
  opacity: 1;
}

.formule:hover > .formule-data {
  /* transition: opacity 1s linear; */
  transform: translateY(80px);
  opacity: 1;
}

.formule-data {
  position: relative;
  transition: all 1s ease-out;
  top: -80px;
  margin-top: 20px;
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.km {
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.formule-data span {
  position: relative;
  top: -5px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translateUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes translateDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
.echeance {
  background: url(./../public/assets/echeance.jpg) no-repeat center center fixed;
  height: 100%;
}

.echeance-container {
  position: relative;
  top: -30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.echeance-container h3 {
  color: #217a37;
  font-weight: 600;
}

.echeance-date {
  font-weight: 600;
  color: #42424c;
}

.inverted {
  position: relative;
  left: 22%;
}

.echeance-text {
  width: 80%;
  margin-top: 5px;
  color: #42424c;
}

.sponsors-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sponsors-image {
  padding: 50px;
}

.under-navbar {
  position: relative;
  top: 0px;
  height: calc(100% - 100px);
}

.last-page {
  height: 100%;
}

.footer1 {
  position:relative;
  left:0;
  bottom:170px;
  right:0;
  height:80px;
  border-top: 5px solid #2da537;
  background-color: #217a37;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer2 {
  position:relative;
  left:0;
  bottom:0;
  right:0;
  height:80px;
  border-top: 5px solid #2da537;
  background-color: #217a37;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  position: relative;
  left: 7%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-container2 {
  position: relative;
  right: 7%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-container2 a {
  color: #fff;
}

.footer-container2 a:hover {
  color: rgb(209, 209, 209);
}

.footer-title h3 {
  color: white;
  font-weight: 600;
  position: relative;
}

.footer2 .footer-title {
  padding-top: 10px;
}

.footer1 .footer-title  {
  padding-top: 0px;
}

.footer2 .links {
  padding-top: 15px;
  margin-left: 20px;
}

.footer1 .links {
  margin-top: 5px;
  margin-left: 20px;
}

.links a {
  margin: 15px;
  margin-top: 25px;
}


.icon {
  animation: fadeColorIn 0.2s linear;
  color: #ffffff;
}

.icon:hover {
  animation: fadeColorOut 0.2s linear;
  color: #d4d4d4;
}


@keyframes fadeColorIn {
  0% {
    color: #d4d4d4;
  }
  100% {
    color: #ffffff;
  }
}

@keyframes fadecolorOut {
  0% {
    color: #ffffff;
  }
  100% {
    color: #d4d4d4;
  }
}

.panorama {
  margin-top: 50px;
  width: 100%;
}

.panorama-descr {
  margin-top: 30px;
  font-size: 20px;
}

.pole {
  padding-top: 80px;
}

.pole h2 {
  font-weight: 600;
  color: #42424c;
}

.membres {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.membre {
  width: 20%;
  height: 400px;
  align-items: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
  /* background-color: aqua; */
}

.headshot {
	flex-shrink: 0;
	margin: 20px;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
}

.headshot-1 {
	border-radius: 30%;
	background-image: linear-gradient(135deg, #2da52a, #217a37);
}

.headshot img {
  position: relative;
  margin-top: 5%;
  height: 90%;
  width: 90%;
  object-fit: cover;
	border-radius: 25%;
}

.membre-text {
  align-items: center;
  justify-content: center;
	align-content: center;
	align-items: center;
}

.partenaire-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partenaire-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.partenaire-descr {
  padding-left: 120px;
  color: #42424c;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.partenaire-descr h3 {
  color: #42424c;
  font-weight: 600;
}

.partenaire-descr h6 {
  color: #42424c;
  font-weight: 400;
  justify-content: start;
}

.partenaire-image img {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.partenaire-url {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.partenaire-url a {
  color: #2da52a;
  font-weight: 600;
  padding-left: 10px;
}

.partenaire-url a h6 {
  color: #2da52a;
}

.partenaire-url a:hover {
  color: #217a37;
}

.partenaire-url a h6:hover {
  color: #217a37;
}

.devenir-container {
  height: 81vh;
  position: relative;
  left: 20%;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.devenir-container h2 {
  font-weight: 600;
  color: #42424c;
}

.devenir-container h5 {
  padding-top: 25px;
  color: #42424c;
}

.devenir-mot {
  padding-top: 50px;
  color: #42424c;
  width: 70%;
}

.devenir-mot h5 {
  color: #42424c;
  text-align: left;
}

.devenir-button {
  padding-top: 80px;
  width: 300px;
  height: 80px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 350px;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #217a37;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #217a37;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
