.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #949494;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  height: 100%;
}

.container img {
  object-fit: contain;
  height: 800px;
}


.pres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.view {
  position: relative;
  top: -100px;
}

.view h1 {
  padding-top: 45px;
  font-weight: bold;
  color: #42424c;
}

.brand {
  padding-right: 50px;
}

.test {
  margin-right: 40px;
}

.video {
  top: 140px;
  position: relative;
  height: 600px;
  width: 40%;
}

.divider {
  width: 10%;
}

.descr {
  top: 100px;
  position: relative;
  height: 600px;
  width: 40%;
}

.bb::before, .bb::after, .bb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  width: 800px;
  height: 450px;
  margin: auto;
  background:  no-repeat 50%/70% rgba(0, 0, 0, 0.1);
  color: #69ca62;
  box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
}
.bb::before, .bb::after {
  content: "";
  z-index: -1;
  /* margin: -5%; */
  margin: -10px;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  background-color: rgba(255, 0, 0, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 820px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 470px, 0px);
  }
  50% {
    clip: rect(468px, 820px, 470px, 0px);
  }
  75% {
    clip: rect(0px, 820px, 470px, 818px);
  }
}
html,
body {
  height: 100%;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.video iframe {
	border-radius: 30px 10px;
}

.video span {
  padding-top: 20px;
  font-size: 20px;
}

.formuleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formule {
  width: calc(30% - 20px);
  margin: 50px;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.formule-content {
  transition: opacity .2s linear;
  opacity: 0;
  color: #42424c;
}

.formule-title {
  position: relative;
  transition: all 1s;
  top: 100px;
}

.formule-title h1 {
  font-size: 35px;
  color: #217a37;
}

.formule:hover > .formule-title {
  transform: translateY(0px);
  top: 0px;
}

.formule:hover > .formule-content {
  transition: opacity 1s linear;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translateUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes translateDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
.echeance {
  background: url(./../public/assets/echeance.jpg) no-repeat center center fixed;
  height: 100%;
}

.echeance-container {
  position: relative;
  top: -30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.echeance-container h3 {
  color: #217a37;
  font-weight: 600;
}

.echeance-date {
  font-weight: 600;
  color: #42424c;
}

.inverted {
  position: relative;
  left: 22%;
}

.echeance-text {
  width: 80%;
  margin-top: 5px;
  color: #42424c;
}

.sponsors-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sponsors-image {
  padding: 50px;
}

.under-navbar {
  position: relative;
  top: 0px;
  height: calc(100% - 100px);
}

.last-page {
  height: 65%;
}

.footer {
  background-color: #dfd3c3;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-container {
  position: relative;
  left: 10%;
}

.footer-title h3 {
  color: #2da537;
  font-weight: 600;
  padding-top: 30px;
  position: relative;
}

.links {
  margin-top: 35px;
}

.links a {
  margin: 15px;
}


.icon {
  animation: fadeColorOut 0.2s linear;
  color: #217a37;
}

.icon:hover {
  animation: fadeColorIn 0.2s linear;
  color: #2da52a;
}

@keyframes fadeColorIn {
  0% {
    color: #217a37;
  }
  100% {
    color: #2da52a;
  }
}

@keyframes fadecolorOut {
  0% {
    color: #2da52a;
  }
  100% {
    color: #217a37;
  }
}

.panorama {
  margin-top: 50px;
  width: 100%;
}

.panorama-descr {
  margin-top: 30px;
  font-size: 20px;
}

.pole {
  margin-top: 100px;
}

.membres {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.membre {
  width: calc(20% - 50px);
  align-items: center;
  justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.headshot {
	flex-shrink: 0;
	margin: 20px;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
}

.headshot-1 {
	border-radius: 30%;
	background-image: linear-gradient(135deg, #2da52a, #217a37);
}

.headshot img {
  position: relative;
  margin-top: 5%;
  height: 90%;
  width: 90%;
	border-radius: 25%;
}

.membre-text {
  align-items: center;
  justify-content: center;
	align-content: center;
	align-items: center;
}